.box-countdown {
    width: 50%;
}

.box-countdown-item {
    background-color: #a47551;
}

.card-resepsi {
    background-color: rgba(0, 0, 0, 1);
}

.button-brown {
    background-color: #a47551;
    color: white;
}

@media (max-width: 768px) {
    .box-countdown {
        width: 90%;
    }

    .bride-1{
        margin-left: 20px;
    }

    .bride-2{
        margin-right: 20px;
    }
}

@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
.animated-card {
    opacity: 0; /* Mulai dalam keadaan tidak terlihat */
    animation: zoomIn 1s ease-in-out forwards;
}

button.button-brown {
    pointer-events: auto;
}

button.button-brown:active {
    transform: scale(0.95);
}

button.button-brown {
    transition: background-color 0.3s ease-in-out;
}

button.button-brown.copied {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
  
.text-brown{
    color: #a47551;
}

@font-face {
    font-family: 'Butler';
    src: url("/fonts/Butler.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.text-butler {
    font-family: "Butler", serif;
}


body {
    font-family: 'Lora', serif; /* Untuk teks utama */
}

.wedding-title {
    font-family: 'Great Vibes', cursive; /* Untuk nama pengantin */
    font-size: 50px;
}

.heading {
    font-family: 'Playfair Display', serif; /* Untuk heading utama */
    font-weight: 700;
    font-size: 30px;
}